<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de
				caracteristicas</div>
			<form th:action="@{/caracteristicas/guardar}" th:object="${caracteristica}"
				method="post" enctype="multipart/form-data">
				
				<div class="form-group row">
					<label for="idCaracteristica" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idCaracteristica}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('idCaracteristica')}"
							th:errors="*{idCaracteristica}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="caracteristica" class="col-sm-2 col-form-label">Caracteristica</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{nombreCaracteristica}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('nombreCaracteristica')}"
							th:errors="*{nombreCaracteristica}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="recursocaracteristica" class=" col-sm-2 col-form-label">Recurso:</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{recursocaracteristica.idRecurso}">
							<option th:each="c: ${listaRecursos}"
								th:value="${c.idRecurso}" th:text="${c.nombreRecurso}"
								th:selected="(${c.idRecurso} == *{recursocaracteristica.idRecurso})"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />
						<a href="/caracteristicas/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>
				
				<p th:text="${mensaje}"></p>
			</form>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>