<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de Ordenes
				de Compra</div>
			<form th:action="@{/ordenes/guardar}" th:object="${orden}"
				method="post" enctype="multipart/form-data">

				<div class="form-group row">
					<label for="idOrden" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idOrden}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('idOrden')}" th:errors="*{idOrden}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="trabajadororden" class=" col-sm-2 col-form-label">Trabajador responsable:</label>
					<div class="col-sm-6">
						<select class="form-control"
							th:field="*{trabajadororden.idTrabajador}">
							<option th:each="c: ${listaTrabajadores}"
								th:value="${c.idTrabajador}" th:text="${c.nombreTrabajador}"
								th:selected="(${c.idTrabajador} == *{trabajadororden.idTrabajador})"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="proveedororden" class=" col-sm-2 col-form-label">Proveedor:</label>
					<div class="col-sm-6">
						<select class="form-control"
							th:field="*{proveedororden.idProveedor}">
							<option th:each="c: ${listaProveedores}"
								th:value="${c.idProveedor}" th:text="${c.nombreProveedor}"
								th:selected="(${c.idProveedor} == *{proveedororden.idProveedor})"></option>
						</select>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="fechaOrden" class="col-sm-2 col-form-label">Fecha
						de creacion de la Orden de compra</label>
					<div class="col-sm-6">
						<input type="date" th:field="*{fechaOrden}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('fechaOrden')}"
							th:errors="*{fechaOrden}"></small>
					</div>
				</div>
				
				<div class="form-group row">
					<label for="notaOrden" class="col-sm-2 col-form-label">Nota
						Orden de Compra</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{notaOrden}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('notaOrden')}"
							th:errors="*{notaOrden}"></small>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />
						<a href="/caracteristicas/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

				<p th:text="${mensaje}"></p>
			</form>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>