<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-light">
			<div class="card-header text-black bg-blue">Registro de
				Detalles de Ordenes de compra</div>
			<form th:action="@{/detalles/guardar}" th:object="${detalle}"
				method="post" enctype="multipart/form-data">

				<div class="form-group row">
					<label for="idDetalle" class="col-sm-2 col-form-label">Id</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{idDetalle}" class="form-control"
							th:errorclass="'form-control alert-danger'" /> <small
							class="form-text text-danger"
							th:if="${#fields.hasErrors('idDetalle')}"
							th:errors="*{idDetalle}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="unidadesDetalle" class="col-sm-2 col-form-label">Numero
						de unidades solicitadas del producto</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{unidadesDetalle}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('unidadesDetalle')}"
							th:errors="*{unidadesDetalle}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="precioDetalle" class="col-sm-2 col-form-label">Precio
						historico del Recurso</label>
					<div class="col-sm-6">
						<input type="text" th:field="*{precioDetalle}"
							class="form-control" th:errorclass="'form-control alert-danger'" />
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('precioDetalle')}"
							th:errors="*{precioDetalle}"></small>
					</div>
				</div>

				<div class="form-group row">
					<label for="recursodetalle" class=" col-sm-2 col-form-label">Recurso:</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{recursodetalle.idRecurso}">
							<option th:each="c: ${listaRecursos}"
								th:value="${c.idRecurso}" th:text="${c.nombreRecurso}"
								th:selected="(${c.idRecurso} == *{recursodetalle.idRecurso})"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<label for="ordendetalle" class=" col-sm-2 col-form-label">Orden
						de venta perteneciente:</label>
					<div class="col-sm-6">
						<select class="form-control" th:field="*{ordendetalle.idOrden}">
							<option th:each="c: ${listaOrdenes}" th:value="${c.idOrden}"
								th:text="${c.idOrden}"
								th:selected="(${c.idOrden} == *{ordendetalle.idOrden})"></option>
						</select>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-6" align="center">
						<input type="submit" value="Registrar" class="btn btn-primary" />
						<a href="/detalles/listar" class="btn btn-danger">Cancelar</a>
					</div>
				</div>

				<p th:text="${mensaje}"></p>
			</form>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>


</body>
</html>