<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8"></meta>

<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card">
			<div class="card-header text-white bg-dark mb-3">Detalles de
				Recurso</div>
			<div class="card-body">

				<div class="table-responsive">
					<table class="table table-white">

						<tbody>
							<tr>
								<td>CODIGO</td>
								<td th:text="${detalle.idDetalle}"></td>
							</tr>
							
							<tr>
								<td>PRECIO</td>
								<td th:text="${detalle.precioDetalle}"></td>
							</tr>
							
							<tr>
								<td>Cantidad de unidades</td>
								<td th:text="${detalle.unidadesDetalle}"></td>
							</tr>
							
							<tr>
								<td>Codigo de la orden:</td>
								<td th:text="${detalle.ordendetalle.idOrden}"></td>
							</tr>
							
							<tr>
								<td>RECURSO:</td>
								<td th:text="${detalle.recursodetalle.nombreRecurso}"></td>
							</tr>
							
						</tbody>
					</table>

					<a th:href="@{/detalles/listar}" type="button"
						class="btn btn-primary k"> <span
						class="glyphicon glyphicon-circle-arrow-left"></span> Regresar a
						la lista de los detalle
					</a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>